
.active{
    font-weight: bold;
    font-size: 20px;
    color: #ED7B54;
    padding-left:40px;
    text-decoration: none;
    display: inline-block;
}
.header-image {
    width: 150px;
    /*right:550px;*/
    /*bottom: 35px;*/
    padding-top: 10px;
}

.menu-links{
    border-top:solid 1px #FFFFFF;

}
.info-links{
    font-weight:bold;
    font-size:30px;
    color: darkmagenta;
}
.header-content{
    height:80px;
}

.header{
    width:100%;
    position: fixed;
    background-color: #F5F5F5;
    height: 80px;



    /*margin: 5px;*/
    /*color: white;*/
    /*position: fixed;*/
    /*font-size: 300%;*/
    /*margin: 1%;*/
    /*background-image: url('../images/border.jpg');*/
    /*border: 30px ridge;*/
    /*padding-left: 40%;*/
    /*padding-right: 40%;*/
}
@media screen and (max-width: 1197px){
    .header{
        width:100%;
        position: absolute;
        background-color: #F5F5F5;
        height: 185px;
    }
    .header-image{
        width: 150px;
        /*right:550px;*/
        /*bottom: 35px;*/
        padding-top: 10px;
        margin-left:300px;

    }
    .links{
        margin-left:220px;
    }
    .active{
        font-weight: bold;
        font-size: 30px;
        color: #ED7B54;
        padding-left:40px;
        text-decoration: none;
        display: inline-block;
    }

}
@media screen and (max-width: 768px){
    .header{
        width:100%;
        position: absolute;
        background-color: #F5F5F5;
        height: 185px;
    }
    .header-image{
        width: 150px;
        /*right:550px;*/
        /*bottom: 35px;*/
        padding-top: 10px;
        margin-left:100px;

    }
    .links{
        margin-left:220px;
    }
    .active{
        font-weight: bold;
        font-size: 25px;
        color: #ED7B54;
        padding-left:40px;
        text-decoration: none;
        display: block;
    }


}