.item{
    margin-bottom:20px;
}

.item-info{
    background-color: #F6F6F6;
}

.item-cost{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.submit-button{
    border: none;
    background-color: #EB6E44;
    color: white;
    font-size: 25px;
    margin:10px;
}

.item-name{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
    color: darkorange;
}

.item-image-block{
    padding: 30px;
    background-color: #eeeeee;

}

.item-image{
    width:220px;
    height:180px;
}

@media screen and (max-width: 1200px){
    .item-image-block{
        padding: 8px
    }
}

@media screen and (max-width: 992px){
    .item-image-block{
        padding: 10px;
    }
}

/*@media screen and (max-width: 768px){*/
    /*.item-image-block{*/
    /*}*/
/*}*/

