

.food-menu {
    top: 30%;
    /*left: 15%;*/
    /*top: 20%;*/
    /*left: 15%;*/
    position: absolute;
    display: grid;
    grid-template-columns: 295px 295px 295px;
}

@media screen and (max-width: 992px){/*its with dropdown menu too*/
    .food-menu {
        /*top: 50%;*/
        /*left: 15%;*/
        /*top: 20%;*/
        /*left: 15%;*/
        position: absolute;
        display: grid;
        grid-template-columns: 250px 250px;
    }
}
@media screen and (max-width: 576px){
    .food-menu {
        /*top: 50%;*/
        /*left: 15%;*/
        /*left: 15%;*/
        /*position: absolute;*/
        display: grid;
        grid-template-columns:140px;
    }
}

