
/*::-webkit-scrollbar{*/
    /*width: 12px;*/
/*}*/
/*::-webkit-scrollbar-track:hover{*/
    /*border-left: solid 1px #aaa;*/
    /*background-color: #eee;*/
/*}*/
/*::-webkit-scrollbar-thumb{*/
    /*border-width:1px 1px 1px 2px;*/
    /*border-color: #777;*/
    /*background-color: #aaa;*/
/*}*/
/*::-webkit-scrollbar-track{*/
    /*border-width:0;*/
/*}*/


.card-item-image{
    margin: 5px 20px 5px 5px;
}

input[type="text"] {
    width: 30px;
    height:25px;
}
.card-cost{
    margin-top:5px;
    font-size: 90%;
    position: absolute;
    left:230px;
}
.card-name{
    margin-right: 20px;
    margin-top: 5px;
    max-width: 90px;
}
.card-link{
    color: #ED7B54;
    font-size: 90%;
    font-weight: bold;
}

.card-item{
    display: inline-flex;
    margin-bottom: 10px;
    margin-top: 20px;
}
.shop-card-button{
    margin-left: -25px;
    border-bottom-left-radius: 45%;
    border-top-left-radius: 45%;
    border: none;
    font-size: 161%;
    font-weight: bolder;
    background: url('https://www.detaluga.ru/img/basket-button.png');
}
.button-pusher{
    position: absolute;
    top:45%;
}
