
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}
::-webkit-scrollbar-track{
    border-width:0;
}

.shop-card{
    display: inline-block;
    position: fixed;
    transition: 2s all;
    background-color: orange;
    width: 225px;
    height:80px;
    right: 1%;
    top: 40%;
    overflow-y:auto;
    overflow-x: auto;

}
.card-item{
    display: inline-flex;
    right:20px;
}
.shop-card-header{
    border-style:groove ;
    border-color: darkgoldenrod;
    width: 219px;
    height: 20px;

}
.card-name{
    display: inline-block;
    padding-right: 15px;
}
.card-cost{
    display: inline-block;
    padding-right: 15px;
}
.card-quantity{
    display: inline-block;
}
.shop-card:hover{
    height : 150px;
}