body{
  background-image: url('./images/food.jpg');
}
.header{
  color: white;
  position: fixed;
  top: 0%;
  font-size: 300%;
  margin: 1%;
  background-image: url('./images/border.jpg');
  border: 30px ridge;
  padding-left: 40%;
  padding-right: 40%;
}
.active{
  font-weight: bold;
  font-size: 19px;
  color: black;

}

.left-menu{
  position: fixed;
  top:20%;
  left:0%;
  background-color: antiquewhite ;
  padding:10px;
  margin: 5px;
}

.menu {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 30%;
  background-image: url("./images/border.jpg");

}
.input[type="text"]{
  border: 2px solid #cccccc;
  border-radius: 3px;
  background: #ffffff !important;
  outline: none;
  height: 24px;
  width: 24px;
  color: black;
  font-size: 20px;
}
::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-track:hover{
  border-left: solid 1px #aaa;
  background-color: #eee;
}
::-webkit-scrollbar-thumb{
  border-width:1px 1px 1px 2px;
  border-color: #777;
  background-color: #aaa;
}
::-webkit-scrollbar-track{
  border-width:0;
}

.shop-card{
  display: inline-block;
  position: fixed;
  transition: 2s all;


  background-color: orange;
  width: 225px;
  height:80px;
  right: 1%;
  top: 40%;
  overflow-y:auto;
  overflow-x: auto;

}
.card-item{
  display: inline-block;
  right:20px;
}
.shop-card-head{
  border-style:groove ;
  border-color: darkgoldenrod;
  width: 204px;
  height: 20px;

}
.card-name{
  display: inline-block;
  padding-right: 15px;
}
.card-cost{
  display: inline-block;
  padding-right: 15px;
}
.card-quantity{
  display: inline-block;
}
.shop-card:hover{
  height : 150px;
}
.main-menu{
  display: flex;
  right: 20%;
  left: 25%;
  position: absolute;
  top: 50%;
  background-color: darkturquoise;
  font-weight: 200;


}



.card-name{
  font-style: italic;

}